@model IEnumerable<Participante>

<div class="container">
    <div class="dropdown">
        <label aria-label="Adicionar participantes">Adicionar participantes</label>
        <input class="form-control py-1 mb-1" oninput="search(this)" onfocus="search(this)" type="text" placeholder="Busca"
               aria-label="Busca" data-toggle="dropdown" id="input">
        <div class="dropdown-menu dropdown-primary w-100" id="participantes-dropdown">
        </div>
    </div>
    <select class="list-group bg-light border" multiple id="formListaDeParticipantes"
            style="height: 7em; overflow-y: scroll; width: inherit">
    </select>
    <div class="row">
        <div class="col pr-0"><a class="btn btn-block btn-light border" onclick="removeFromList()">Remover</a></div>
        <div class="col pl-0"><a class="btn btn-block btn-light border" onclick="clearList()">Limpar lista</a></div>
    </div>
</div>

<script type="text/javascript">
    function search(element) {
        $("#participantes-dropdown").children().remove();

        let token = $('[name=__RequestVerificationToken]').val();

        let headers = {};
        headers['RequestVerificationToken'] = token

        $.ajax({
            url: '/Eventos/SearchUsers',
            type: 'POST',
            contentType: 'application/json',
            data: JSON.stringify($(element).val()),
            headers: headers
        }).done(function (response) {
            let users = response;
            if (users == null) return;
            for (i = 0; i < users.length; i++) {
                let a = document.createElement("a");
                a.className = "btn dropdown-item";
                a.setAttribute("onclick", "addToList(this)");
                a.text = users[i].nome + ' (@@' + users[i].username + ')';
                $("#participantes-dropdown").append(a);
            }
            filter();
        });
    }

    function filter() {
        let users = $("#participantes-dropdown").children();
        let selected = $("#formListaDeParticipantes").children();
        for (i = 0; i < selected.length; i++) {
            for (j = 0; j < users.length; j++) {
                if (selected[i].text == users[j].text) {
                    users[j].remove();
                    users.splice(j);
                }
            }
        }
    }

    function selectOptions() {
        let listaSelecionada = $("#formListaDeParticipantes").children();
        for (i = 0; i < listaSelecionada.length; i++) {
            $(listaSelecionada[i]).attr("selected", "true");
        }
    }

    function addToList(usuario) {
        let lista = document.getElementById("formListaDeParticipantes");
        let item = document.createElement("option");
        item.text = $(usuario).text();
        item.value = $(usuario).text();
        item.className = "list-group-item list-group-flush py-1 form-control";
        lista.appendChild(item);
    }

    function removeFromList() {
        $("#formListaDeParticipantes option:selected").remove();
    }

    function clearList() {
        $("#formListaDeParticipantes").empty();
    }
</script>