@model Evento

<div class="col">
    <div class="list-group list-group-flush list">
        @foreach (var participante in Model.ListaDeParticipantes)
        {
            <div class="list-group-item bg-transparent p-0 ml-2 py-1">@participante.Nome (@participante.Username)</div>
        }
    </div>
    <div class="align-bottom m-0">
        <ul class="pagination m-0">
            @{
                int pagination = (int)Math.Ceiling(Model.Participantes / 5d);
                for (int i = 1; i < pagination + 1; i++)
                {
                    <li class="page-item ml-2 mt-2"><a class="page-link py-1 px-2" href="#">@i</a></li>
                }
            }
        </ul>
    </div>
</div>