@model Evento

@using Agenda.Desktop.Areas.Identity.Data;
@using Microsoft.AspNetCore.Identity;
@using Agenda.Desktop.Data;

@{
    var userManager = (UserManager<AppIdentityUser>)Context.RequestServices.GetService(typeof(UserManager<AppIdentityUser>));
    var context = (ApplicationDbContext)Context.RequestServices.GetService(typeof(ApplicationDbContext));
    var participantes = context.ParticipantesEmEventos.Where(e => e.EventoId == Model.Id).AsEnumerable();
}

<div class="col">
    <div class="list-group list-group-flush list">
        @*@foreach (var participante in participantesEmEventos)
        {
            var usuario = await userManager.FindByIdAsync(participante.IdParticipante);
            <div class="list-group-item bg-transparent p-0 ml-2 py-1">@usuario.Nome (@usuario.UserName)</div>
        }*@
    </div>
    <div class="align-bottom m-0">
        <ul class="pagination m-0">
            @{
                int pagination = (int)Math.Ceiling(participantes.Count() / 5d);
                for (int i = 1; i < pagination + 1; i++)
                {
                    <li class="page-item ml-2 mt-2"><a class="page-link py-1 px-2" href="#">@i</a></li>
                }
            }
        </ul>
    </div>
</div>